@import './blocks/header.css';
@import './blocks/menu.css';
@import './blocks/burger.css';
@import './blocks/top.css';
@import './blocks/projects.css';
@import './blocks/skills.css';
@import './blocks/tasks.css';
@import './blocks/contacts.css';
@import './blocks/footer.css';

.none {
	display: none;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 400;
	font-size: 22px;
	letter-spacing: -0.66px;
	line-height: normal;
	color: #fff;
	background-color: #000;
}

.body-fixed {
	overflow: hidden;
}

.container {
	margin: 0 auto;
	max-width: 1180px;
	padding: 0 15px;
}

img {
	max-width: 100%;
}




