body {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 400;
	font-size: 22px;
	letter-spacing: -0.66px;
	line-height: normal;
	color: #fff;
}

.container {
	margin: 0 auto;
	width: 1180px;
	padding: 0 15px;
}

.header {
	padding-top: 27px;
	padding-bottom: 94px;
	background-image: url('../images/top-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.header__inner {
	margin-bottom: 265px;
}

.header__logo {
	display: inline-block;
	margin-right: 479px;
}

.header__logo-link {
	display: inline-block;
	padding-right: 15px;
	padding-left: 9px;
	border-radius: 100px;
	color: #1bff07;
	font-family: IBM Plex Mono;
	font-size: 42.414px;
	font-weight: 700;
	line-height: 42px;
	letter-spacing: -4.666px;
	text-transform: uppercase;
	background-color: #000;
}

.header__logo-link:hover {
	color: #fff;
}

.header__menu {
}

.menu {
	display: inline-block;
	vertical-align: super;
}

.menu__link {
	color: #fff;
	font-family: IBM Plex Mono;
	font-size: 18px;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.54px;
	text-transform: uppercase;
}

.menu__link:hover {
	color: #1bff07;
}

.menu__link:not(:last-child) {
	margin-right: 48px;
}

.header__text {
	width: 430px;
	margin-bottom: 30px;
	font-size: 20px;
	letter-spacing: -0.6px;
}

.header__title {
	width: 919px;
	color: #1bff07;
	font-size: 80px;
	line-height: 0.87;
	letter-spacing: -2.4px;
}

.projects {
	padding-top: 150px;
	padding-bottom: 75px;
	background-color: #000;
}

.projects__title {
	margin-bottom: 40px;
	font-size: 55px;
	letter-spacing: -1.65px;
}

.projects__list {
	margin-bottom: 80px;
}

.projects__item {
	position: relative;
	height: 550px;
	border-radius: 30px;
}

.projects__item-inner {
	position: absolute;
	left: 50px;
	bottom: 50px;
}

.projects__item-title {
	display: inline-block;
	margin-bottom: 5px;
	color: #fff;
	font-family: IBM Plex Mono;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.9px;
}

.projects__item-title:hover {
	color: #1bff07;
}

.projects__item-text {
	color: #fff;
	font-family: IBM Plex Mono;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.9px;
}

.project__btn {
	display: inline-block;
	padding: 56px 85px;
	border: 1px solid #1bff07;
	color: #000;
	text-align: center;
	font-family: IBM Plex Mono;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.9px;
	border-radius: 10px;
	background: #1bff07;
}

.project__btn:hover {
	color: #1bff07;
	background-color: #000;
}

.skills {
	padding-top: 75px;
	padding-bottom: 75px;
	background-color: #000;
}

.skills__title {
	margin-bottom: 48px;
	font-size: 55px;
	letter-spacing: -1.65px;
}

.skills__item:not(:last-child) {
	margin-bottom: 60px;
}

.skills__icon {
	margin-bottom: 12px;
	width: 45px;
	height: 44px;
}

.skills__item-title {
	margin-bottom: 15px;
	color: #1bff07;
	letter-spacing: -0.66px;
}

.skills__item-text {
	width: 778px;
}

.tasks {
	padding-top: 75px;
	padding-bottom: 75px;
	background-color: #000;
}

.tasks__title {
	width: 700px;
	margin-bottom: 74px;
	font-size: 55px;
	letter-spacing: -1.65px;
}

.tasks__item {
	margin-bottom: 74px;
}

.tasks__item-inner {
	height: 283px;
	padding: 40px;
	border-radius: 30px;
	background-color: #191c19;
}

.tasks__item-image {
	border-radius: 30px;
}

.tasks__item-title {
	margin-bottom: 15px;
	color: #1bff07;
	font-size: 55px;
	letter-spacing: -1.65px;
}

.tasks__item-text {
	width: 749px;
}

.contacts {
	padding-top: 75px;
	padding-bottom: 150px;
	background-color: #000;
}

.contacts__body {
	position: relative;
	height: 717px;
	border-radius: 30px;
	background-image: url('../images/contact-image-bg.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	background-color: #191c19;
}

.contacts__inner {
	position: absolute;
	bottom: 89px;
}

.contacts__title {
	margin-bottom: 28px;
	font-size: 55px;
	letter-spacing: -1.65px;
}

.contacts__link {
	font-size: 60px;
	line-height: 1;
	letter-spacing: -1.8px;
}

.contacts__link:not(:last-child) {
	margin-bottom: 20px;
}

.footer {
	background-color: #000;
}

.footer__body {
	padding-top: 76px;
	padding-bottom: 30px;
	border-radius: 30px 30px 0 0;
	background-color: #fff;
}

.footer__title {
	margin-bottom: 66px;
	text-align: center;
	color: #000;
	font-family: Manrope;
	font-weight: 600;
}

.footer__text {
	text-align: center;
	color: #000;
	font-family: Manrope;
	font-size: 20px;
	opacity: 0.5;
}
