.header {
	position: absolute;
	width: 100%;
	padding-top: 36px;
	min-height: 112px;
}

.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo-link {
	display: inline-block;
	padding-right: 15px;
	padding-left: 9px;
	border-radius: 100px;
	color: #1bff07;
	font-family: IBM Plex Mono;
	font-size: 42.414px;
	font-weight: 700;
	line-height: 42px;
	letter-spacing: -4.666px;
	text-transform: uppercase;
	background-color: #000;
	transition: color 0.4s ease-in;
}

.header__logo-link:hover {
	color: #fff;
}
