.header {
	position: relative;
	padding-top: 27px;
	padding-bottom: 94px;
}

.header__inner {
	margin-bottom: 265px;
}

.header__logo {
	display: inline-block;
	margin-right: 479px;
}

.header__logo-link {
	display: inline-block;
	padding-right: 15px;
	padding-left: 9px;
	border-radius: 100px;
	color: #1bff07;
	font-family: IBM Plex Mono;
	font-size: 42.414px;
	font-weight: 700;
	line-height: 42px;
	letter-spacing: -4.666px;
	text-transform: uppercase;
	background-color: #000;
}

.header__logo-link:hover {
	color: #fff;
}

.header__menu {
	display: inline-block;
}

.header__text {
	width: 430px;
	margin-bottom: 30px;
	font-size: 20px;
	letter-spacing: -0.6px;
}

.header__title {
	width: 919px;
	color: #1bff07;
	font-size: 80px;
	line-height: 0.87;
	letter-spacing: -2.4px;
}

.header__bg-image {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}

.header__bg-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
